.department-list {
  .panel-heading h3 {
    margin: 4px 0;
  }
  .table tr td {
    vertical-align: middle;
    .btn {
      margin-right: 10px;
    }
  }
  .table tr .index {
    width: 10%;
  }
  .table tr .handle{
    width: 20%;
  }
}
