.login {
  .login-bg {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: url('../../../../assets/images/login-bg.jpg') no-repeat;
    background-size: cover;
  }
  .content {
    padding: 60px 0 170px;
    .description {
      margin: 20px 0 10px 0;
      text-align: center;
    }
    .text {
      color: #fff;
      font-size: 14px;
      opacity: 0.8;
    }
    .form-box {
      overflow: hidden;
      margin-top: 35px;
      border-radius: 5px;
      .form-top {
        background-color: #ffffff;
        padding: 20px 30px;
        h3 {
          margin: 0 5px;
          letter-spacing: 0.3ex;
          color: #666666;
        }
      }
      .form-bottom {
        background-color: #e0e0e0;
        padding: 25px 30px;
        input {
          height: 50px;
          line-height: 50px;
          padding: 0 20px;
          vertical-align: middle;
          background: #f8f8f8;
          border: 3px solid #ddd;
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          font-weight: 300;
          color: #888;
          border-radius: 5px;
          box-shadow: none;
          transition: all .3s;
        }
        input:focus {
          outline: 0;
          background: #fff;
          border: 1px solid #ccc;
          box-shadow: none;
        }
        input.error {
          border: 1px dashed rgba(221, 14, 14, 0.87);
        }
        .alert-danger {
          padding: 3px 10px;
        }
        .btn {
          height: 50px;
          margin: 0;
          padding: 0 20px;
          vertical-align: middle;
          background: #4aaf51;
          border: 0;
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          font-weight: 300;
          line-height: 50px;
          color: #fff;
          border-radius: 5px;
          text-shadow: none;
          box-shadow: none;
          transition: all .3s;
          width: 100%;
        }
        .btn:focus {
          outline: 0;
          opacity: 0.6;
          background: #4aaf51;
          color: #fff;
        }
      }
    }
  }
}
